@import 'config';
@import 'input';
@import 'spinner';
@import 'result';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Muli', sans-serif;
}
.appInterface {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  text-align: center;
}
main {
  padding: 2rem;
}
